body 
{
    font-family: "PT Sans Caption", sans-serif;
    background-color: #f7ecde;
}
.container h1
{   
    font-family:'Pacifico', cursive;;
}
.container .bookmark 
{
    border-top: 3px dotted #999;
    border-bottom:3px dotted #999;
   
}

.container h2
{
    font-family: "Righteous", cursive;
}
